<template name='list'>
  <div class='container'>
    <div class='row'>
      {{> loginButtons}}
      <a href={{pathFor 'layout'}}>Home</a><br>
    </div>

    {{> header}}

    <div class='row'>
      {{#if currentUser}}
        {{#if lists}}
          {{#each lists}}
          <div class='article'>
            <h3><a href={{article.articleUrl}}>{{article.title}}</a></h3> <a href='#' class='delete'>Delete this article</a>
            <h5>{{article.minuteLength}} minutes ({{article.wordLength}}) <span class='sub'>{{article.author}} | <em>{{article.source}}</em> | {{article.pubDate}}</span></h5>
          </div>
          {{/each}}
        {{else}}
          <div class='center'>
            <h4 class='sub'>You have no saved articles at this time.</h4>
          </div>
        {{/if}}
      {{else}}
        <div class='center'>
          <h4 class='sub'>Please log in or sign up to view this page.</h4>
        </div>
      {{/if}}
    </div>

    {{> footer}}
  </div>
</template>