<head>
  <title>read n ride</title>
  <meta name='viewport' content='user-scalable=no'>
  <link rel="icon" type="image/png" href="favicon.png">
</head>

<template name='layout'>
	<div class='container'>
		<div class='row'>
			{{> loginButtons}}
			{{#if currentUser}}
				<a href={{pathFor 'list'}}>View your saved articles</a>
			{{/if}}
		</div>

		{{> header}}

		<div class='row'>
				<button id='dropdown' href="#" class='start'>Where are you now?</button><br>
				<ul id="drop" class='hidden from'>
				  {{#each stations}}
				    {{> station}}
				  {{/each}}
				</ul>
		</div>

		{{#if travelTime}}
			<div class='row center'>
				<h4>Your estimated travel time is {{travelTime}} minutes.</h4>
				<h4 class='sub'>Here are some things you could read:</h4>
			</div>
		{{/if}}

		{{#if longReads}}
			{{#each longReads}}
				<div class='row article'>
					{{> longRead}}
				</div>
			{{/each}}
		{{/if}}

		{{> footer}}
	</div> <!-- close 'container' -->
</template>